<div id="nosotros">
</div>

<div class="contenedor">
     <div class="card">
          <img src="../../../assets/img/3.jpg" alt="">
          <h2>¿quienes somos?</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi non assumenda ea architecto quos? Ea,
               quaerat?
               Accusamus nulla blanditiis labore!</p>
     </div>
     <div class="card">
          <img src="../../../assets/img/2.jpg" alt="">
          <h2>Misión</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi non assumenda ea architecto quos? Ea,
               quaerat?
               Accusamus nulla blanditiis labore!</p>
     </div>
     <div class="card">
          <img src="../../../assets/img/4.jpg" alt="">
          <h2>Visión</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi non assumenda ea architecto quos? Ea,
               quaerat?
               Accusamus nulla blanditiis labore!</p>
     </div>

</div>