<nav class="navbar navbar-expand-lg navbar-dark">
     <div class="container">
          <a class="navbar-brand" href="#">MISENSOR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
               aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
               <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                         <a class="nav-link " aria-current="page" href="">Inicio</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link " href="/#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                         <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              Servicios
                         </a>
                         <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" href="/calificacion">Calificacion de Equipos</a>
                              </li>
                              <li><a class="dropdown-item" href="/mantenimiento">Mantenimiento de Equipos</a>
                              </li>
                         </ul>
                    </li>
                    <li class="nav-item ">
                         <a class="nav-link" href="/contacto">contacto</a>
                    </li>

               </ul>
          </div>
     </div>
</nav>